* {
    margin: 0;
    color: #fff;
    box-sizing: border-box;
}


/* header */

.header {
    width: 100%;
    background-color: #0a2640;
    /* height: 100vh; */
    padding-top: 56px;
    color: white;
    position: relative;
    overflow: hidden;
}


/* header nav */

.nav {
    width: 1200px;
    height: 42px;
    /* margin-top: 100px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}


/* nav items */

.nav-items {
    display: flex;
    align-items: center;
    width: 419px;
    height: 40px;
    justify-content: space-between;
}

.nav-items li {
    list-style: none;
}


/* link nav */

a:link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}

.nav-items li .nav-link-login {
    background-color: white;
    color: darkblue;
    padding: 8px 30px;
    border-radius: 90px;
    text-align: center;
    vertical-align: middle;
}


/* hero frame */

.hero-frame {
    width: 1200px;
    height: 100vh;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 567px 493.86px;
    justify-content: space-between;
    align-content: start;
    position: relative;
    z-index: 100;
}

.hero-text-box {
    width: 567px;
    height: 310px;
}

.hero-text-title {
    height: 138px;
    /* width: 567px; */
    text-align: left;
    font-size: 56px;
    letter-spacing: -2px;
    margin-bottom: 16px;
}

.hero-text-content {
    height: 56px;
    color: lightgray;
    font-size: 19px;
    line-height: 1.6;
}

.hero-buttons {
    margin-top: 40px;
}

.btn {
    box-sizing: border-box;
}

.btn-buy {
    padding: 16px 56px;
    border-radius: 90px;
    background-color: #69e6a6;
    border: none;
    color: darkblue;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    margin-right: 24px;
}

.btn-explore {
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    padding: 16px 46px;
    border-radius: 90px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

.container-chart {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 192.18px 261.96px;
    justify-content: space-between;
}

.bg-chart {
    background-image: url("/img/bg-chart.png");
}

.img {
    display: inline-block;
}


/* header footer */

.header-footer {
    margin: auto;
    width: 1173px;
    height: 93px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    padding-top: 30px;
    margin-top: -80px;
    margin-bottom: 40px;
}

.footer-logo {
    width: 145px;
    height: 42px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 10px;
}

.shape-logo {
    width: 23.16px;
    height: 33.16px;
    vertical-align: middle;
}

.footer-logo p {
    /* margin: 0; */
    width: 111.77px;
    height: 42px;
    font-size: 36.27px;
    /* line-height: 28.2px; */
    text-align: left;
    vertical-align: middle;
}

.logo-satu,
.logo-enam {
    opacity: 0.15;
}

.shape-lingkaran {
    width: 1293px;
    height: 1293px;
    background-color: #1c3d5b;
    border-radius: 100%;
    position: absolute;
    top: -800px;
    right: -730px;
    z-index: 0;
}


/* section service */

.services-title {
    width: 842px;
    height: 184px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
}

.services-title .title {
    color: gray;
    font-size: 16px;
    letter-spacing: 1px;
}

.services-title p {
    color: #000;
    font-size: 52px;
    letter-spacing: -1px;
}